#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// #include "keys_de.h"

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST  3

/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            quick-tap-ms = <100>;
            flavor = "balanced";
            tapping-term-ms = <170>;
        };
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            quick-tap-ms = <100>;
            flavor = "balanced";
            tapping-term-ms = <170>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label= "BASE";
            bindings = <
                &ht ESC N1   &kp N2       &kp N3       &kp N4       &kp N5                             &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
                &kp Q        &kp W        &kp E        &kp R        &kp T                              &kp Z        &kp U        &kp I        &kp O        &kp P
                &lt LALT A   &mt LCTRL S  &mt LGUI D   &mt LSHFT F  &kp G                              &kp H        &mt RSHFT J  &mt RGUI K   &mt RCTRL L  &mt RALT COLON
                &kp Y        &kp X        &kp C        &kp V        &kp B                              &kp N        &kp M        &kp COMMA    &kp DOT      &kp MINUS
                                          &kp LGUI     &lt LOWER TAB &kp SPACE &bt BT_PRV   &bt BT_NXT &kp RET      &mt RSHFT BSPC &kp RALT
            >;
        };

        lower_layer {
            label= "LOWER";
            bindings = <
                &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                             &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
                &ht ESC Q    &kp D        &kp R        &kp W        &kp B                              &kp J        &kp F        &kp U        &kp P        &kp COLON
                &mt LALT A   &mt LCTRL S  &mt LGUI H   &mt LSHFT T  &kp G                              &kp Y        &mt RSHFT N  &mt RGUI E   &mt RCTRL O  &mt RALT I
                &kp Z        &kp X        &kp M        &kp C        &kp V                              &kp K        &kp L        &kp COMMA    &kp DOT      &kp MINUS
                                          &trans       &kp SPACE    &kp BSPC  &trans           &trans  &kp TAB      &mt LSHFT RET &trans
            >;
        };

        raise_layer {
            label= "RAISE";
            bindings = <
                &trans       &trans       &trans       &trans       &trans                             &trans       &trans       &trans       &trans       &trans
                &kp EXCL     &kp AT       &kp LBRC     &kp RBRC     &kp GRAVE                          &kp SQT      &kp U_UMLAUT &kp CARET    &kp O_UMLAUT &kp STARi
                &kp A_UMLAUT &kp SZ       &kp LPAR     &kp RPAR     &kp PLUS                           &kp DQT      &kp EQUAL    &kp DLLR     &kp POUND    &kp SEMI
                &kp PIPE     &kp PRCNT    &kp LBKT     &kp RBKT     &kp TILDE                          &kp AMPS     &kp LT       &kp GT       &kp QMARK    &kp UNDER
                                          &trans       &trans       &trans    &trans           &trans  &kp SLASH    &kp RSHFT    &trans
            >;
        };

        adjust_layer {
            label= "ADJUST";
	    bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                     &out OUT_TOG  &trans     &trans     &trans     &bt BT_CLR
                &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                           &kp F6        &kp F7     &kp F8     &kp F9     &kp F10
                &trans        &trans        &trans        &trans        &trans                           &kp K_VOL_UP  &trans     &trans     &trans     &trans
                &trans        &trans        &trans        &trans        &trans                           &kp K_VOL_DN  &trans     &trans     &trans     &trans
                                            &trans        &trans        &trans  &kp F11         &kp F12  &trans        &trans     &trans
            >;
        };
    };
};
