/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
// |       |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |       |
// |  ESC  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |       |
// |  TAB  |  Z  |  X  |  C   |  V   |  B   |        |  |       |  N   |  M    |  ,    |  .   |   /   |       |
//               | GUI | ALT  | CTRL | LOWER|  SPACE |  | BACKS | RAISE| CTRL  | ALT   | GUI  |
            bindings = <
&none     &kp N1     &kp N2     &kp N3      &kp N4      &kp N5                       &kp N6    &kp N7      &kp N8    &kp N9     &kp N0     &none
&none     &kp Q      &kp W      &kp F       &kp P       &kp B                        &kp J     &kp L       &kp U     &kp Z      &kp SEMI   &none
&kp ESC   &mt LGUI A &mt LALT R &mt LCTRL S &mt LSHFT T &kp G                        &kp M     &mt LSHFT N &mt LCTRL &mt RALT I &mt LGUI O &none
&kp TAB   &kp Y      &kp X      &kp C       &kp D       &kp V     &none     &none    &kp K     &kp H       &kp COMMA &kp DOT    &kp FSLH   &none
                     &kp LGUI   &kp LALT    &kp LSHFT   &lt 2 TAB &kp SPACE &kp BSPC &lt 1 RET &kp LCTRL   &kp RALT  &kp RGUI
            >;

//                      LGUI, LALT, LCTRL, TAB/RAISE, SPACE     BSPC, RET/LOW, LCTRL, RALT, RGUI

/* #define WORDJ C(KC_RGHT) */
/* #define WORDJB C(KC_LEFT) */
/* #define BSPCW C(KC_W) */
/* #define DELWRD C(KC_DEL) */

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
// TODO: Some binds are waiting for shifted keycode support.
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// | 	   |  `  |  #  |  [   |  ]   |  $   |                   |  6   |  '    |  "    |  \   |   €   |       |
// |       | ESC |  +  |  (   |  )   |  @   |                   |  |   |  -    |  =    |  _   |       |       |
// |       | TAB |  °  |  {   |  }   |  ~   |        |  |       |  &   |  !    |  *    |  %   |   ^   |       |
//               |     |      |      |      |        |  |       |      |       |       |      |
            bindings = <
&trans  &trans    &trans           &trans    &trans    &trans                     &trans    &trans    &trans    &trans    &trans     &trans
&trans  &kp GRAVE &kp HASH         &kp LBKT  &kp RBKT  &kp DLLR                   &kp N6    &kp SQT   &kp DQT   &kp BSLH  &kp RA(N5) &trans
&trans  &kp ESC   &kp PLUS         &kp LPAR  &kp RPAR  &kp AT                     &kp PIPE  &kp MINUS &kp EQUAL &kp UNDER &trans     &trans
&trans  &kp TAB   &kp LS(RA(SEMI)) &kp LBRC  &kp RBRC  &kp TILDE  &trans   &trans &kp AMPS  &kp EXCL  &kp STAR  &kp PRCT  &kp CARET  &trans
                  &trans           &trans    &trans    &trans     &trans   &trans &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLR| BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
// |     | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
// |     | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
// |     | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
//              |      |       |       |      |      |  |      |      |      |       |      |
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4             &trans    &trans    &trans   &trans    &trans  &trans
&trans     &kp INS      &kp PSCRN    &kp K_CMENU  &trans       &trans                   &kp PG_UP &trans    &kp UP   &trans    &kp N0  &trans
&trans     &kp LALT     &kp LCTRL    &kp LSHFT    &trans       &kp CLCK                 &kp PG_DN &kp LEFT  &kp DOWN &kp RIGHT &kp DEL &kp BSPC
&trans     &kp K_UNDO   &kp K_CUT    &kp K_COPY   &kp K_PASTE  &trans  &trans   &trans  &trans    &trans    &trans   &trans    &trans  &trans
                        &trans       &trans       &trans       &trans  &trans   &trans  &trans    &trans    &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
